.logo {
  width: 1440px;
  height: 188.189px;
  flex-shrink: 0;
  background: #e6e6e6;
  border: solid 0px yellow;
  margin: 0px;
  box-sizing: border-box;

  padding: 20.91px 670px;
}

h1 {
  color: #005677;
  font-feature-settings: "cpsp" on;
  font-family: Times New Roman;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 84.688%; /* 29.641px */
  text-transform: uppercase;
  background: #c4c4c4;
  text-align: center;

  width: 1440px;
  height: 60px;
  flex-shrink: 0;
  margin: 0px 0px 128px;
  box-sizing: border-box;
  padding: 16px 214px 16px;
}

h2 {
  color: #005677;
  font-feature-settings: "cpsp" on;
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 84.688%; /* 16.938px */
  text-transform: uppercase;
  background: #c4c4c4;

  width: 1440px;
  height: 30px;
  flex-shrink: 0;
  margin: 0px;
  box-sizing: border-box;
  padding: 6px;
}

ul {
  color: #000;
  font-family: Times New Roman;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

span {
  color: #000;
  font-family: Times New Roman;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
}

ul.datos-personales span {
  font-style: italic;
}

.footer {
  color: #fff;
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 84.688%; /* 16.938px */
  background: #005677;
  text-align: center;

  width: 1440px;
  height: 37px;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 147px 0px 0px;
  padding: 9px;
}

.sangria {
  text-indent: 5em;
}
